@font-face {
    font-family: 'NK57 Monospace Cd Rg';
    src: url('NK57MonospaceCdRg-Regular.woff2') format('woff2'),
        url('NK57MonospaceCdRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

