/*Configs. de CSS para a página principal*/
/*custom fonts*/
@font-face {
    font-family: 'NK57 Monospace Cd Rg';
    src: url('/Assets/fonts/NK57MonospaceCdRg-Regular.woff2') format('woff2'),
        url('/Assets/fonts/NK57MonospaceCdRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*estilização de links*/
a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

/*/////////////////////////////////////*/
body {
    margin: 0;
    padding: 80px;
    background-color: rgb(39, 39, 39);
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'NK57 Monospace Cd Rg';
    overflow-y: hidden;
}
/*/////////////////////////////////////*/
.container {
    display: flex;
    width: 1500px;
    height: 800px;
    flex-direction: column;
}
.upperbar {
    width: 1500px;
    height: 30px;
    background-color: white;
}
.menutop {
    width: 1498px;
    height: 45px;
    border: solid 1px white;
}
.menuleft {
    float: left;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.menuright{
    display: flex;
    flex: 1;
    flex-direction: row;
}
/*/////////////////////////////////////*/
.left {
    display: flex;
    flex: 2;
    align-items: center;
    height: 40px;
}
/*/////////////////////////////////////*/
ul {
    margin: auto;
    user-select: none;
}
li{
    float: left;
    list-style: none;
    margin-left: 10px;    
    margin-right: 10px;
    cursor: pointer;
}
/*/////////////////////////////////////*/
.right {
    display: flex;
    flex: 2;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    height: 40px;
    padding-right: 40px;
    user-select: none;
}
.hello {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
/*/////////////////////////////////////*/
#clock {
    color: white;
    font-size: 12px;
    align-items: center;
}


/*/////////////////////////////////////*/
.frame {
    width: 1498px;
    height: 900px;
    border-bottom: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    display: flex;
    flex-direction: row;
}
.fleft {
    height: 733px;
    width: 300px;
    border-right: solid 1px white;
    display: flex;
    flex-direction: column;
}
.content {
    width: 300px;
    height: 50px;
    border-bottom: solid 1px white;
}

.fright {
    height: 733px;
    width: 1198px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.about {
    width: 700px;
    height: 300px;
    margin-top: 20px;
    padding: 20px;
    border: dashed 1px white;
    overflow: auto;
    text-align: justify;
}
.titletxt {
    font-size: 40px;
}




/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
 