/*Configs. de CSS para a página principal*/
/*custom fonts*/
@font-face {
    font-family: 'NK57 Monospace Cd Rg';
    src: url('/Assets/fonts/NK57MonospaceCdRg-Regular.woff2') format('woff2'),
        url('/Assets/fonts/NK57MonospaceCdRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*estilização de links*/
a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

/*/////////////////////////////////////*/
body {
    margin: 0;
    padding: 80px;
    background-color: rgb(39, 39, 39);
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'NK57 Monospace Cd Rg';
    overflow-y: hidden;
}
/*/////////////////////////////////////*/
.container {
    display: flex;
    width: 1500px;
    height: 800px;
    flex-direction: column;
}
.upperbar {
    width: 1500px;
    height: 30px;
    background-color: white;
}
.menutop {
    width: 1498px;
    height: 45px;
    border: solid 1px white;
}
.menuleft {
    float: left;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.menuright{
    display: flex;
    flex: 1;
    flex-direction: row;
}
/*/////////////////////////////////////*/
.left {
    display: flex;
    flex: 2;
    align-items: center;
    height: 40px;
}
/*/////////////////////////////////////*/
.left ul {
    margin: auto;
    user-select: none;
}
.left li{
    float: left;
    list-style: none;
    margin-left: 10px;    
    margin-right: 10px;
    cursor: pointer;
}
/*/////////////////////////////////////*/
.right {
    display: flex;
    flex: 2;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    height: 40px;
    padding-right: 40px;
    user-select: none;
}
.hello {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
/*/////////////////////////////////////*/
#clock {
    color: white;
    font-size: 12px;
    align-items: center;
}


/*/////////////////////////////////////*/
.frame {
    width: 1498px;
    height: 900px;
    border-bottom: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    display: flex;
    flex-direction: row;
}
.fleft {
    height: 733px;
    width: 300px;
    border-right: solid 1px white;
    display: flex;
    flex-direction: column;
}
.content {
    width: 280px;
    height: fit-content;
    padding: 10px;
    border-bottom: solid 1px white;
    color: white;
    justify-content: start;
    align-items: center;
    display: flex;
}
.server, .resinfo {
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
}
.s-status, .u-status, .p-status {
    color: white;
}
.infobtn {
    border: none;
    font-family: 'NK57 Monospace Cd Rg';
    outline: none;
    background-color: white;
    color: #272727;
    margin-top: 5px;
    cursor: pointer;
}
.dcontent {
    width: 280px;
    height: fit-content;
    color: white;
    justify-content: start;
    align-items: center;
    display: flex;    
}
.userdb{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 12px;
}
.addnew {
    margin-left: 30px;
}
.dbases {
    width: 280px;
    font-size: 15px;
    height: 540px;
    overflow: auto;
}
.dbases ul {
    list-style: square;
    margin-left: 10px;
}
.dbases li {
    margin-bottom: 5px;
}
.fright {
    height: 733px;
    width: 1198px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.about {
    width: 700px;
    height: 300px;
    margin-top: 20px;
    padding: 20px;
    border: dashed 1px white;
    overflow: auto;
    text-align: justify;
}
.titletxt {
    font-size: 40px;
}

/*/////////////////////////////////////*/
/* New DB */
/*/////////////////////////////////////*/

.ndata {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    width: 380px;
    height: 100px;
    border: solid 1px white;
    align-items: center;
    justify-content: center;
}
.table {
    outline: none;
    margin-top: 5px;
}
.add {
    background-color: white;
    border: none;
    font-family: 'NK57 Monospace Cd Rg';
}
.expl {
    width: 340px;
    height: 200px;
    margin-top: 20px;
    border: dashed 1px white;
    overflow: auto;
    text-align: justify;
    font-size: 12px;
    padding: 20px;
}

/*/////////////////////////////////////*/
/*my files*/
/*/////////////////////////////////////*/
.files {
    width: 1150px;
    margin: auto;
    height: 100px;
    display: flex;
    flex: 1;
    align-self: flex-start;
    margin-top: 25px;
    justify-content: flex-start;
}
.dbs {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px; 
    cursor: pointer;   
}

/*/////////////////////////////////////*/
/*my files*/
/*/////////////////////////////////////*/
.contentp {
    width: 300px;
    height: auto;    
}
.userpic {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avataropt {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avataropt img {
    margin-left: 5px;
}
.userinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 5px;
}
/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
 